.idraw-studio-dialog-code-editor {
  &.ant-modal-confirm .ant-modal-body {
    padding: 10px 10px;
    height: 640;
    overflow: auto;
  }
}

.idraw-studio-dialog-export-image {
  &.ant-modal-confirm .ant-modal-body {
    padding: 10px 10px;
    height: 640;
    overflow: auto;
  }
}