.idraw-studio-siderright {
  border-left: 1px solid #dadce0;
  background: #ffffff;

  .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    padding-top: 4px;
    padding-bottom: 4px;
    background: #ffffff;
  }

  .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    background: #fafafa;
    border-top: 1px solid #dadce0;
    padding: 0;
  }
}