.idraw-studio-mod-desc {
  padding: 10px 4px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: scroll;

  .no-select-data {
    color: #999;
    text-align: center;
  }
}

.idraw-studio-mod-desc-color {
  .ant-popover-inner-content {
    padding: 0;
  }
}

.idraw-studio-mod-desc-imagepicker {
  display: inline-block;
  cursor: pointer;

  .desc-imagepicker-box {
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    background: #ffffff;
  }

  .desc-imagepicker-entity {
    max-width: 120px;
    max-height: 120px;
    display: flex;
  }

  .desc-imagepicker-action {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0000003d;
    border-top: 1px solid #d9d9d9;

    .imagepicker-action {
      display: flex;
      flex: 1;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-size: 14px;

      &:hover {
        color: #ffffff;
      }
    }

    .imagepicker-action:first-child {
      border-right: 1px solid #d9d9d9;
    }
  }
}

// .idraw-studio-mod-desc-imagepicker-popover {
//   display: flex;
// }