// @import "../variable.less";

@base-scale-selector: ~'@{prefix}-base-scale-selector';

.@{base-scale-selector} {
  padding: 0 4px;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  .ant-btn-icon {
    display: inline-flex;
  }
}

.@{base-scale-selector}-menu-item {
  display: inline-flex;
  width: 100px;

  .@{base-scale-selector}-input {
    width: 100%;
  }
}
