.idraw-studio-mod-element {
  max-height: calc(33% - 30px);
  box-sizing: border-box;
  overflow: scroll;
  
  .idraw-studio-element-item {
    cursor: pointer;
  
    &:hover {
      color: #1890ff;
    }

    &.element-item-active {
      color: #1890ff;
      background: #e6f7ff;
    }
  }
}

