.idraw-studio-content {
  margin: 0;
  padding: 0;
  position: relative;
}

.idraw-studio-content-scroll {

  @slider-size: 12px;

  .content-scroll-y {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: @slider-size;
    background: #f0f0f087;
    cursor: pointer;

    .content-scroll-slider {
      height: 50px;
      width: 100%;
      border-radius: 10px;
      background: #e0e0e0;
      cursor: pointer;
      transform: translateY(0);
      transition: 100ms;
      opacity: 0.6;
    }

    &:hover {
      .content-scroll-slider {
        opacity: 1;
      }
    }
  }

  .content-scroll-x {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: @slider-size;
    background: #f0f0f087;
    cursor: pointer;

    .content-scroll-slider {
      width: 50px;
      height: 100%;
      border-radius: 10px;
      background: #e0e0e0;
      cursor: pointer;
      transform: translateX(0);
      transition: 50ms;
      opacity: 0.4;
    }

    &:hover {
      .content-scroll-slider {
        opacity: 1;
      }
    }
  }
}